#bili_plugin {
  .bp-container {
    z-index: 3;
    position: fixed;
    left: 2px;
    top: max(70px, 20vh);
    display: flex;
    flex-direction: column;

    div {
      border-radius: 8px;
      border: 1px var(--bg2) solid;
      padding: 2px;
      text-align: center;
      margin-top: 8px;
      cursor: pointer;
      background-color: var(--bg1);
      &:hover {
        background-color: var(--bg3);
      }
      svg {
        width: 28px;
      }
      p {
        margin: 0;
        color: #9499a0;
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}

/*  dark theme */
:root[theme='dark'] {
  --Ga1: #61666d; /* 不推荐改基本颜色。因为webcomponent的样式在沙盒中，无法直接影响，才出此下策 */

  --bg1: var(--Ga9);
  --bg2: var(--Ga8);
  --bg3: var(--Ga8);
  --bg1_float: var(--Ga10);
  --bg2_float: var(--Ga8);
  --bg3_float: var(--Ga9);
  --text1: var(--Ga2);
  --text2: var(--Ga3);
  --text3: var(--Ga4);
  --text4: var(--Ga5);
  --graph_bg_thin: var(--Ga7);
  --graph_bg_regular: var(--Ga8);
  --graph_bg_thick: var(--G7);
  --line_light: var(--Ga7);
  --line_regular: var(--Ga7);
  --graph_weak: var(--Ga7);
  --graph_bg_regular_float: var(--Ga8);
  --graph_bg_thick: var(--Ga8);
  --graph_bg_thin_rgb: 24, 24, 24;

  #app > .bg {
    background-image: url('https://cdn.pixabay.com/photo/2018/03/27/15/58/flowers-3266383_1280.jpg') !important;
  }
  #app > .bgc {
    background-color: var(--Ga10) !important;
  }
  .bili-dyn-card-reserve__card {
    .bili-dyn-card-reserve__desc__first {
      color: var(--Ga2);
    }
  }
}
